.top-header {
  margin: auto;
  background-color: none;
  height: 60px;
}

.top-links-container {
  position: absolute;
  right: 5%;
  padding: 20px 0;
}

.top-links-container a{
  font-family: Arial;
  color: black;
  text-decoration: none;
  margin: 0 15px 0 15px;
}

.google-logo{
  margin: auto;
  padding: 130px 0 30px 0;
  width: 270px;
}

.google-logo img{
  width: 270px;
}

.search-field {
  margin: auto;
  width: 580px;
  padding: 0;
  background-color: blue;
}

.search-field input{
  width: 580px;
  height: 42px;
}
